.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 280px;
  margin-top: 32px;
  margin-left: 32px;
  height: 400px;
}

img {
  width: 280px;
  margin-bottom: 8px;
}

h4 {
  margin-bottom: 8px;
  font-size: 20px;
}

h5 {
  margin-bottom: 8px;
  font-size: 14px;
  color: #5c5c5c;
}

p {
  margin-bottom: 48px;
  text-align: justify;
}

